@{
    Layout = "_LayoutAdmin";
    List<int> deletes = new List<int>();
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="align-self-center">Thông Tin Nhân Viên</h4>
    <!-- FORM DATA -->
    <div class="card mb-2">
        <div class="card-body" id="viewShowThongTin">
            <div class="row" >
                <div class="col-sm">
                    <div class="row ">
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">Mã nhân viên </label>
                            <input class="form-control h-50" id="nhanVien_MaNhanVien" type="number" placeholder="" autofocus />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">Tên nhân viên <span class="text-danger">(*)</span></label>
                            <input class="form-control h-50" id="nhanVien_TenNhanVien" type="text" placeholder="" autofocus />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">CCCD <span class="text-danger">(*)</span></label>
                            <input class="form-control h-50" id="nhanVien_Cccd" type="text" placeholder="" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">Ngày sinh <span class="text-danger">(*)</span></label>
                            <input class="form-control h-50" id="nhanVien_NgaySinh" placeholder="" type="text" />
                        </div>
                        
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">Địa chỉ <span class="text-danger">(*)</span></label>
                            <input class="form-control h-50" id="nhanVien_DiaChi" placeholder="" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">Số điện thoại <span class="text-danger">(*)</span></label>
                            <input class="form-control h-50" id="nhanVien_SoDienThoai" placeholder="" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">Email <span class="text-danger">(*)</span></label>
                            <input class="form-control h-50" id="nhanVien_Email" placeholder="" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">Thông tin</label>
                            <input class="form-control h-50" id="nhanVien_ThongTin" placeholder="" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">Lương</label>
                            <input class="form-control h-50" id="nhanVien_Luong" placeholder="" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">Mã tài khoản</label>
                            <input class="form-control h-50" id="nhanVien_MaTaiKhoan" placeholder="" type="text" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label  m-0 p-0">Tên ngân hàng</label>
                            <select name="nhanVien_NganHang" id="nhanVien_NganHang" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                <option>Tất cả</option>
                                <option>TPBank</option>
                                <option>Vietcombank</option>
                                <option>MB</option>
                                <option>Techcombank</option>
                                <option>ACB</option>
                                <option>VietinBank</option>
                                <option>BIDV</option>
                                <option>LPBank</option>
                                <option>Agribank</option>
                                <option>Sacombank</option>
                                <option>SeAbank</option>
                                <option>HDBank</option>
                                <option>VIB</option>
                                <option>MSB</option>
                                <option>SHB</option>
                                <option>VPBank</option>
                                <option>Eximbank</option>
                                <option>OCB</option>
                                <option>NamABank</option>
                                <option>PVcomBank</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label m-0 p-0">Số tài khoản</label>
                            <input class="form-control h-50" id="nhanVien_SoTaiKhoan" placeholder="" type="text" />
                        </div>
                       
                        <div class="col-md-12 m-0 p-0 accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button"
                                        class="accordion-button ps-3 text-success"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#thongTinChung"
                                        aria-expanded="true"
                                        aria-controls="thongTinChung">
                                    Thông tin chung
                                </button>
                            </h2>

                            <div id="thongTinChung"
                                 class="accordion-collapse collapse  m-0 p-0"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body row m-0 p-0 ">
                                    <div class="col-md-6">
                                        <label class="form-label  m-0 p-0">Trung tâm <span class="text-danger">(*)</span></label>
                                        <select name="nhanVien_MaTrungTam" id="nhanVien_MaTrungTam" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label  m-0 p-0">Giới tính<span class="text-danger">(*)</span></label>
                                        <select name="nhanVien_GioiTinh" id="nhanVien_GioiTinh" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                            <option>Tất cả</option>
                                            <option>Nam</option>
                                            <option>Nữ</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label m-0 p-0">Loại nhân viên <span class="text-danger">(*)</span></label>
                                        <select name="nhanVien_LoaiNhanVien" id="nhanVien_LoaiNhanVien" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                            <option>Tất cả</option>
                                            <option>Giáo viên cấp 1</option>
                                            <option>Giáo viên cấp 2</option>
                                            <option>Giáo viên môn Toán</option>
                                            <option>Giáo viên môn Văn</option>
                                            <option>Giáo viên môn Tiếng Anh</option>
                                            <option>Giáo viên môn Khoa học</option>
                                            <option>Giáo viên môn Lịch sử - Địa lí</option>
                                            <option>Giáo viên môn Nghệ thuật</option>
                                            <option>Giáo viên môn Thể dục</option>
                                            <option>Giáo viên môn Âm nhạc</option>
                                            <option>Giáo viên môn Mỹ thuật</option>
                                            <option>Trợ giảng</option>
                                            <option>Quản lý học sinh</option>
                                            <option>Hành chính - Văn thư</option>
                                            <option>Quản lý kho</option>
                                            <option>Kỹ thuật - Công nghệ</option>
                                            <option>Tư vấn học tập</option>
                                            <option>Y tế - Dinh dưỡng</option>
                                            <option>An ninh - Trật tự</option>
                                            <option>Vệ sinh</option>
                                            <option>Bảo vệ</option>
                                            <option>Tài xế đưa đón</option>
                                            <option>Hỗ trợ học sinh khuyết tật</option>
                                            <option>Dịch vụ sinh viên</option>
                                            <option>Công tác sinh viên</option>
                                            <option>Truyền thông - Quan hệ cộng đồng</option>
                                            <option>Hỗ trợ học phí</option>
                                            <option>Quan hệ doanh nghiệp</option>
                                            <option>Hỗ trợ tài chính</option>
                                            <option>Chăm sóc học sinh</option>
                                            <option>Hỗ trợ giáo dục đặc biệt</option>
                                            <option>Hỗ trợ học bổng</option>
                                            <option>Khác</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label m-0 p-0">Phòng ban <span class="text-danger">(*)</span></label>
                                        <select name="nhanVien_PhongBan" id="nhanVien_PhongBan" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                            <option>Tất cả</option>
                                            <option>Tổ chức - Nhân sự</option>
                                            <option>Hành chính - Văn thư</option>
                                            <option>Kế toán - Tài chính</option>
                                            <option>Quản lý học sinh</option>
                                            <option>Giáo vụ</option>
                                            <option>Quản lý chất lượng</option>
                                            <option>Đào tạo</option>
                                            <option>Dịch vụ sinh viên</option>
                                            <option>Công tác sinh viên</option>
                                            <option>Truyền thông - Quan hệ cộng đồng</option>
                                            <option>Phát triển học sinh</option>
                                            <option>Khảo thí - Đánh giá</option>
                                            <option>An ninh - Trật tự</option>
                                            <option>Văn hóa - Nghệ thuật</option>
                                            <option>Thể dục - Thể thao</option>
                                            <option>Sinh viên ủy ban nhân dân</option>
                                            <option>Hợp tác - Phát triển</option>
                                            <option>Quan hệ doanh nghiệp</option>
                                            <option>Quản lý tài sản</option>
                                            <option>Kỹ thuật - Công nghệ</option>
                                            <option>Y tế - Dinh dưỡng</option>
                                            <option>Xây dựng - Bảo trì</option>
                                            <option>Môi trường - Vệ sinh</option>
                                            <option>Tâm lý - Tư vấn học tập</option>
                                            <option>Hỗ trợ học sinh khuyết tật</option>
                                            <option>Truyền thống - Văn hóa doanh nghiệp</option>
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label m-0 p-0">Dân tộc </label>
                                        <select name="nhanVien_DanToc" id="nhanVien_DanToc" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                            <option>Tất cả</option>
                                            <option>Kinh (Việt)</option>
                                            <option>Tày</option>
                                            <option>Thái</option>
                                            <option>Mường</option>
                                            <option>H'Mông</option>
                                            <option>Dao</option>
                                            <option>Khơ Mú</option>
                                            <option>Nùng</option>
                                            <option>Hrê</option>
                                            <option>Ra Glai</option>
                                            <option>Xơ Đăng</option>
                                            <option>Chăm</option>
                                            <option>Sán Dìu</option>
                                            <option>Cơ Ho</option>
                                            <option>Chơ Ro</option>
                                            <option>Giáy</option>
                                            <option>Lào</option>
                                            <option>Lự</option>
                                            <option>Mảng (Mảng Thái)</option>
                                            <option>Ơ Đu</option>
                                            <option>Xinh Mun</option>
                                            <option>Chu Ru</option>
                                            <option>Ê Đê</option>
                                            <option>Gia Rai</option>
                                            <option>Hoa</option>
                                            <option>Ngái</option>
                                            <option>Cống</option>
                                            <option>Hà Nhì</option>
                                            <option>La Chí</option>
                                            <option>La Hủ</option>
                                            <option>Lự</option>
                                            <option>Phù Lá</option>
                                            <option>Si La</option>
                                            <option>Sán Chay</option>
                                            <option>Tày Sơn</option>
                                            <option>Xa Pho</option>
                                            <option>Ô Đu</option>
                                            <option>La Ha</option>
                                            <option>Lô Lô</option>
                                            <option>Cờ Lao</option>
                                            <option>Pà Thẻn</option>
                                            <option>Brâu</option>
                                            <option>Ước Lỳ</option>
                                            <option>M'Nông</option>
                                            <option>Mơ Nông</option>
                                            <option>Tà Ôi</option>
                                            <option>Chơ Bồ</option>
                                            <option>Lô Lô</option>
                                            <option>Cơ Tu</option>
                                            <option>Giẻ Triêng</option>
                                            <option>Xơ Lăng</option>
                                            <option>Rơ Măm</option>
                                            <option>Hà Nhì</option>
                                            <option>Khác</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label m-0 p-0">Tôn giáo</label>
                                        <select name="nhanVien_TonGiao" id="nhanVien_TonGiao" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                            <option>Tất cả</option>
                                            <option>Công giáo</option>
                                            <option>Phật giáo</option>
                                            <option>Tin Lành</option>
                                            <option>Hòa Hảo</option>
                                            <option>Đạo Mẫu</option>
                                            <option>Hồi giáo</option>
                                            <option>Bà-la-môn</option>
                                            <option>Tứ Ân Hiếu Nghĩa</option>
                                            <option>Cơ đốc Phục lâm</option>
                                            <option>Mormon</option>
                                            <option>Bửu Sơn Kỳ Hương</option>
                                            <option>Tịnh độ cư sĩ Phật hội Việt Nam</option>
                                            <option>Bahá'í giáo</option>
                                            <option>Hiếu Nghĩa Tà Lơn</option>
                                            <option>Minh Sư Đạo</option>
                                            <option>Minh Lý Đạo</option>
                                            <option>Khác</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 ">
                    @* Show Image *@
                    <div class="">
                        @* <h5 class="my-4">Hình Ảnh Khách Hàng</h5> *@
                        <div class="pb-2">
                            <!-- Thêm ảnh -->
                            <button class="btn btn-success btn-sm" id="addImage">Thêm ảnh</button>

                            <!-- Thẻ input ẩn để chọn file -->
                            <input type="file" id="fileInput" style="display:none" accept="image/*" onchange="handleFileSelect(this)">

                            <button class="btn btn-danger text-white btn-sm" onclick="deleteImage()">Xóa ảnh</button>
                        </div>
                        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img id="imageShow" src="https://images.pexels.com/photos/2415255/pexels-photo-2415255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block img-fluid" style="border-radius: 0.5rem" alt="Không tìm thấy ảnh" />
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /FORM DATA -->
    <!-- FORM Button -->
    <div class="row col-sm-12">
        <div class="pb-2 mt-2 col-sm-6">
            <button type="button" id="btnCreateNhanVien" class="btn btn-sm btn-primary ">
                Thêm
            </button>
            <span class="p-1"></span>
            <button type="button" id="btnDeleteNhanVien" class="btn btn-sm btn-primary ">
                Xóa
            </button>
            <span class="p-1"></span>
            <button type="button" id="btnResetNhanVien" class="btn btn-sm btn-primary ">
                Làm mới
            </button>
            <span class="p-1"></span>
            <button type="button" id="btnUpdateNhanVien" class="btn btn-sm btn-primary ">
                Sửa
            </button>
            <span class="p-1"></span>
            <button type="button" id="btnSearchNhanVien" class="btn btn-sm btn-primary ">
                Tìm kiếm
            </button>
        </div>
        <div class="pb-2 mt-2 col-sm-6">
            <!-- Thay class justify-content-end thành justify-content-start -->
            <div class="d-flex justify-content-end" role="group" aria-label="Button group with nested dropdown">
                <button type="button"
                        class="btn btn-outline-secondary btn-sm w-px-25"
                        data-bs-toggle="modal"
                        data-bs-target="#troGiup">
                    <i class='bx bx-help-circle'></i>
                </button>
                
                <button type="button" id="giaiPhongDuLieu" class="btn btn-outline-secondary btn-sm">
                    <i class="tf-icons bx bx-rocket"></i>
                </button>
                <button type="button" id="showThongTin" class="btn btn-outline-secondary btn-sm">
                    <i class='bx bx-show'></i>
                </button>
                <button type="button"
                        id="btnViewSendEmail"
                        class="btn btn-outline-secondary btn-sm w-px-25"
                        data-bs-toggle="modal"
                        data-bs-target="#viewSendEmail">
                    <i class="bx bx-envelope"></i>
                </button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1"
                            type="button"
                            class="btn btn-outline-secondary dropdown-toggle btn-sm "
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Khác
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="exportToExcel()">Xuất Excel Full</a>
                        <a class="dropdown-item" href="javascript:void(0);">Đang cập nhật</a>
                        <a class="dropdown-item" href="javascript:void(0);">Đang cập nhật</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /FORM Button -->
    <!-- Table-->
    <div class="card">
        <div class="table-responsive p-3">
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th><input id="checkAll" type="checkbox" /></th>
                        <th>Tên nhân viên</th>
                        <th>Loại nhân viên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Phòng ban</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--/Table-->
</div>
<!-- / Content -->
@section Scripts {
    <script src="~/funcdata/funcsendemail.js"></script>
    <script src="/AdminAssets/module/support.js"></script>
    <script src="~/funcdata/functrungtam.js"></script>
    <script src="~/funcdata/funcnhanvien.js"></script>
    <script src="/AdminAssets/module/nhanVien.js"></script>
}
