@if (TempData["menu"] != null)
{
    <!-- Menu -->
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

        <div class="app-brand demo">
            <a asp-area="ThuNgan" asp-controller="TrangChu" asp-action="TrangChu" class="app-brand-link">
                <!-- HÌNH ẢNH ICON -->
                <img class="w-25 h-25 rounded-circle" src="/AdminAssets/assets/img/favicon/HTB.ico" />
                <span class="app-brand-text menu-text demo fw-bolder ms-2 text-uppercase">THU NGÂN</span>
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
        </div>

        <div class="menu-inner-shadow"></div>
        <ul class="menu-inner py-1">
            <!-- Trang chủ-->
            @if (TempData["menu"] == "TrangChu")
            {
                <li class="menu-item active open">
                    <a asp-area="ThuNgan" asp-controller="TrangChu" asp-action="TrangChu" class="menu-link">
                        <img src="/AdminAssets/assets/img/icons/unicons/trangchu.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="Analytics" class="ms-2 ps-1">Trang chủ</div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu-item">
                    <a asp-area="ThuNgan" asp-controller="TrangChu" asp-action="TrangChu" class="menu-link">
                        <img src="/AdminAssets/assets/img/icons/unicons/trangchu.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="Analytics" class="ms-2 ps-1">Trang chủ</div>
                    </a>
                </li>
            }

            <!-- Dịch vụ - Sử dụng dịch vụ -->
            @if (TempData["menu"] == "DichVu" || TempData["menu"] == "SuDungDichVu")
            {
                <li class="menu-item active open">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/dichvu.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="DichVu" class="ms-2 ps-1">Dịch Vụ</div>
                    </a>
                    <ul class="menu-sub">
                        @if (TempData["menu"] == "DichVu")
                        {
                            <li class="menu-item active">
                                <a asp-area="ThuNgan" asp-controller="DichVu" asp-action="Index" class="menu-link">
                                    <div data-i18n="DichVu">Thông tin dịch vụ</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-area="ThuNgan" asp-controller="SuDungDichVu" asp-action="Index" class="menu-link">
                                    <div data-i18n="SuDungDichVu">Sử dụng dịch vụ</div>
                                </a>
                            </li>
                        }
                        @if (TempData["menu"] == "SuDungDichVu")
                        {
                            <li class="menu-item ">
                                <a asp-area="ThuNgan" asp-controller="DichVu" asp-action="Index" class="menu-link">
                                    <div data-i18n="DichVu">Thông tin dịch vụ</div>
                                </a>
                            </li>
                            <li class="menu-item active">
                                <a asp-area="ThuNgan" asp-controller="SuDungDichVu" asp-action="Index" class="menu-link">
                                    <div data-i18n="SuDungDichVu">Sử dụng dịch vụ</div>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/dichvu.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="DichVu" class="ms-2 ps-1">Dịch Vụ</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item ">
                            <a asp-area="ThuNgan" asp-controller="DichVu" asp-action="Index" class="menu-link">
                                <div data-i18n="DichVu">Thông tin dịch vụ</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a asp-area="ThuNgan" asp-controller="SuDungDichVu" asp-action="Index" class="menu-link">
                                <div data-i18n="SuDungDichVu">Sử dụng dịch vụ</div>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @* Môn học *@
            @if (TempData["menu"] == "MonHoc")
            {
                <li class="menu-item active open">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/monhoc.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="MonHoc" class="ms-2 ps-1">Môn Học</div>
                    </a>
                    <ul class="menu-sub">
                        @if (TempData["menu"] == "MonHoc")
                        {
                            <li class="menu-item active">
                                <a asp-area="ThuNgan" asp-controller="MonHoc" asp-action="Index" class="menu-link">
                                    <div data-i18n="MonHoc">Thông tin môn học</div>
                                </a>
                            </li>

                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/monhoc.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="MonHoc" class="ms-2 ps-1">Môn Học</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item ">
                            <a asp-area="ThuNgan" asp-controller="MonHoc" asp-action="Index" class="menu-link">
                                <div data-i18n="MonHoc">Thông tin môn học</div>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            <!-- Sản phẩm - Lô sản phẩm -->
            @if (TempData["menu"] == "SanPham" || TempData["menu"] == "LoSanPham")
            {
                <li class="menu-item active open">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/sanpham.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="SanPham" class="ms-2 ps-1">Sản phẩm</div>
                    </a>
                    <ul class="menu-sub">
                        @if (TempData["menu"] == "SanPham")
                        {
                            <li class="menu-item active">
                                <a asp-area="ThuNgan" asp-controller="SanPham" asp-action="Index" class="menu-link">
                                    <div data-i18n="SanPham">Thông tin sản phẩm</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-area="ThuNgan" asp-controller="LoSanPham" asp-action="Index" class="menu-link">
                                    <div data-i18n="LoSanPham">Lô sản phẩm</div>
                                </a>
                            </li>
                        }
                        @if (TempData["menu"] == "LoSanPham")
                        {
                            <li class="menu-item ">
                                <a asp-area="ThuNgan" asp-controller="SanPham" asp-action="Index" class="menu-link">
                                    <div data-i18n="SanPham">Thông tin sản phẩm</div>
                                </a>
                            </li>
                            <li class="menu-item active">
                                <a asp-area="ThuNgan" asp-controller="LoSanPham" asp-action="Index" class="menu-link">
                                    <div data-i18n="LoSanPham">Lô sản phẩm</div>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/sanpham.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="SanPham" class="ms-2 ps-1">Sản phẩm</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item ">
                            <a asp-area="ThuNgan" asp-controller="SanPham" asp-action="Index" class="menu-link">
                                <div data-i18n="SanPham">Thông tin sản phẩm</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a asp-area="ThuNgan" asp-controller="LoSanPham" asp-action="Index" class="menu-link">
                                <div data-i18n="LoSanPham">Lô sản phẩm</div>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @* Nhân Viên *@
            @if (TempData["menu"] == "NhanVien")
            {
                <li class="menu-item active open">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/nhanvien.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="NhanVien" class="ms-2 ps-1">Nhân viên</div>
                    </a>
                    <ul class="menu-sub">
                        @if (TempData["menu"] == "NhanVien")
                        {
                            <li class="menu-item active">
                                <a asp-area="ThuNgan" asp-controller="NhanVien" asp-action="Index" class="menu-link">
                                    <div data-i18n="NhanVien">Thông tin nhân viên</div>
                                </a>
                            </li>

                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/nhanvien.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="NhanVien" class="ms-2 ps-1">Nhân viên</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item ">
                            <a asp-area="ThuNgan" asp-controller="NhanVien" asp-action="Index" class="menu-link">
                                <div data-i18n="NhanVien">Thông tin nhân viên</div>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @* Lớp *@
            @if (TempData["menu"] == "Lop")
            {
                <li class="menu-item active open">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/lop.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="Lop" class="ms-2 ps-1">Lớp học</div>
                    </a>
                    <ul class="menu-sub">
                        @if (TempData["menu"] == "Lop")
                        {
                            <li class="menu-item active">
                                <a asp-area="ThuNgan" asp-controller="Lop" asp-action="Index" class="menu-link">
                                    <div data-i18n="Lop">Thông tin lớp học</div>
                                </a>
                            </li>

                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/lop.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="Lop" class="ms-2 ps-1">Lớp học</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item ">
                            <a asp-area="ThuNgan" asp-controller="Lop" asp-action="Index" class="menu-link">
                                <div data-i18n="Lop">Thông tin lớp học</div>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @* Học Sinh *@
            @if (TempData["menu"] == "HocSinh")
            {
                <li class="menu-item active open">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/hocsinh.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="HocSinh" class="ms-2 ps-1">Học sinh</div>
                    </a>
                    <ul class="menu-sub">
                        @if (TempData["menu"] == "HocSinh")
                        {
                            <li class="menu-item active">
                                <a asp-area="ThuNgan" asp-controller="HocSinh" asp-action="Index" class="menu-link">
                                    <div data-i18n="HocSinh">Thông tin học sinh</div>
                                </a>
                            </li>

                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/hocsinh.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="HocSinh" class="ms-2 ps-1">Học sinh</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item ">
                            <a asp-area="ThuNgan" asp-controller="HocSinh" asp-action="Index" class="menu-link">
                                <div data-i18n="HocSinh">Thông tin học sinh</div>
                            </a>
                        </li>
                    </ul>
                </li>
            }
           
            @* Hóa đơn *@
            @if (TempData["menu"] == "PhieuThuChi" || TempData["menu"] == "TaoPhieuThuChi")
            {
                <li class="menu-item active open">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/hoadon.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="PhieuThuChi" class="ms-2 ps-1">Hóa đơn</div>
                    </a>
                    <ul class="menu-sub">
                        @if (TempData["menu"] == "PhieuThuChi")
                        {
                            <li class="menu-item active">
                                <a asp-area="ThuNgan" asp-controller="PhieuThuChi" asp-action="Index" class="menu-link">
                                    <div data-i18n="PhieuThuChi">Thông tin hóa đơn</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-area="ThuNgan" asp-controller="PhieuThuChi" asp-action="ChiTietHoaDon" class="menu-link">
                                    <div data-i18n="PhieuThuChi">Tạo hóa đơn</div>
                                </a>
                            </li>
                        }
                        @if(TempData["menu"] == "TaoPhieuThuChi")
                        {
                        <li class="menu-item ">
                            <a asp-area="ThuNgan" asp-controller="PhieuThuChi" asp-action="Index" class="menu-link">
                                <div data-i18n="PhieuThuChi">Thông tin hóa đơn</div>
                            </a>
                        </li>
                        <li class="menu-item active">
                            <a asp-area="ThuNgan" asp-controller="PhieuThuChi" asp-action="ChiTietHoaDon" class="menu-link">
                                <div data-i18n="PhieuThuChi">Tạo hóa đơn</div>
                            </a>
                        </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/hoadon.png"
                     alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="PhieuThuChi" class="ms-2 ps-1">Hóa đơn</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item ">
                            <a asp-area="ThuNgan" asp-controller="PhieuThuChi" asp-action="Index" class="menu-link">
                                <div data-i18n="PhieuThuChi">Thông tin hóa đơn</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a asp-area="ThuNgan" asp-controller="PhieuThuChi" asp-action="ChiTietHoaDon" class="menu-link">
                                <div data-i18n="PhieuThuChi">Tạo hóa đơn</div>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @* Nhà cung cấp *@
            @if (TempData["menu"] == "NhaCungCap")
            {
                <li class="menu-item active open">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/nhacungcap.png"
                            alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="NhaCungCap" class="ms-2 ps-1">Nhà cung cấp</div>
                    </a>
                    <ul class="menu-sub">
                        @if (TempData["menu"] == "NhaCungCap")
                        {
                            <li class="menu-item active">
                                <a asp-area="ThuNgan" asp-controller="NhaCungCap" asp-action="Index" class="menu-link">
                                    <div data-i18n="NhaCungCap">Thông tin nhà cung cấp</div>
                                </a>
                            </li>

                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <img src="/AdminAssets/assets/img/icons/unicons/nhacungcap.png"
                             alt="chart success"
                             class="rounded w-px-20 h-px-20" />
                        <div data-i18n="NhaCungCap" class="ms-2 ps-1">Nhà cung cấp</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item ">
                            <a asp-area="ThuNgan" asp-controller="NhaCungCap" asp-action="Index" class="menu-link">
                                <div data-i18n="NhaCungCap">Thông tin nhà cung cấp</div>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            <div class="my-5"></div>
        </ul>
    </aside>
    <!-- / Menu -->
}
