@{
    Layout = "_LayoutQuanLyTrungTam";
    List<int> deletes = new List<int>();
}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="align-self-center">Trang Chủ</h4>

    <div class="row mx-1">
        <div class="col-lg-12 col-md-12 order-1">
            @* Thống kê số lượng *@
            <div class="row custom-scrollbar flex-nowrap pb-2">
                @* Các dịch vụ *@
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/AdminAssets/assets/img/icons/unicons/dichvu.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">Xuất báo cáo</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="DichVu" asp-action="Index">Danh sách dịch vụ</a>
                                    </div>
                                </div>
                            </div>

                            <span class="fw-semibold d-block mb-1">Các dịch vụ</span>
                            <h3 class="card-title mb-2" id="thongKe_DichVu">0</h3>
                        </div>
                    </div>
                </div>

                @* Nhân viên *@
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/AdminAssets/assets/img/icons/unicons/nhanvien.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">Xuất báo cáo</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="NhanVien" asp-action="Index">Danh sách nhân viên</a>
                                    </div>
                                </div>
                            </div>

                            <span class="fw-semibold d-block mb-1">Nhân viên</span>
                            <h3 class="card-title mb-2" id="thongKe_NhanVien">0</h3>
                        </div>
                    </div>
                </div>

                @* Môn học *@
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/AdminAssets/assets/img/icons/unicons/monhoc.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">Xuất báo cáo</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="MonHoc" asp-action="Index">Danh sách môn học</a>
                                    </div>
                                </div>
                            </div>

                            <span class="fw-semibold d-block mb-1">Môn học</span>
                            <h3 class="card-title mb-2" id="thongKe_MonHoc">0</h3>
                        </div>
                    </div>
                </div>

                @* Sản phẩm *@
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/AdminAssets/assets/img/icons/unicons/sanpham.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">Xuất báo cáo</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="SanPham" asp-action="Index">Danh sách sản phẩm</a>
                                    </div>
                                </div>
                            </div>

                            <span class="fw-semibold d-block mb-1">Sản phẩm</span>
                            <h3 class="card-title mb-2" id="thongKe_SanPham"></h3>
                        </div>
                    </div>
                </div>

                @* Lớp *@
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/AdminAssets/assets/img/icons/unicons/lop.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">Xuất báo cáo</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Lop" asp-action="Index">Danh sách lớp học</a>
                                    </div>
                                </div>
                            </div>

                            <span class="fw-semibold d-block mb-1">Lớp học</span>
                            <h3 class="card-title mb-2" id="thongKe_Lop">0</h3>
                        </div>
                    </div>
                </div>

                @* Học sinh *@
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/AdminAssets/assets/img/icons/unicons/hocsinh.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">Xuất báo cáo</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="HocSinh" asp-action="Index">Danh sách học sinh</a>
                                    </div>
                                </div>
                            </div>

                            <span class="fw-semibold d-block mb-1">Học sinh</span>
                            <h3 class="card-title mb-2" id="thongKe_HocSinh">0</h3>
                        </div>
                    </div>
                </div>

                @* Kết quả *@
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/AdminAssets/assets/img/icons/unicons/ketqua.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">Xuất báo cáo</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="KetQua" asp-action="Index">Danh sách kết quả thi</a>
                                    </div>
                                </div>
                            </div>

                            <span class="fw-semibold d-block mb-1">Kêt quả thi</span>
                            <h3 class="card-title mb-2" id="thongKe_KetQua">0</h3>
                        </div>
                    </div>
                </div>

                @* Hóa đơn *@
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/AdminAssets/assets/img/icons/unicons/hoadon.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">Xuất báo cáo</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="PhieuThuChi" asp-action="Index">Danh sách hóa đơn</a>
                                    </div>
                                </div>
                            </div>

                            <span class="fw-semibold d-block mb-1">Hóa đơn</span>
                            <h3 class="card-title mb-2" id="thongKe_HoaDon">0</h3>
                        </div>
                    </div>
                </div>


                @* Nhà cung cấp *@
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/AdminAssets/assets/img/icons/unicons/nhacungcap.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">Xuất báo cáo</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="NhaCungCap" asp-action="Index">Danh sách nhà cung cấp</a>
                                    </div>
                                </div>
                            </div>

                            <span class="fw-semibold d-block mb-1">Nhà cung cấp</span>
                            <h3 class="card-title mb-2" id="thongKe_NhaCungCap">0</h3>
                        </div>
                    </div>
                </div>
            </div>
            @* Tỷ lệ hóa đơn / Doanh Thu Tất Cả Trung Tâm *@
            <div class="row">
                @* Tỷ Lệ Hóa Đơn *@
                <div class="card col-sm-12 col-md-6 col-lg-5 ">
                    <div class="row">
                        <h5 class="mt-3 col">Tỷ lệ hóa đơn</h5>
                        <div class="col-3 pt-2">
                            <select name="tyLeHoaDon_Thang" id="tyLeHoaDon_Thang" style="line-height: 2;" class="form-control mt-1 py-0 px-2  h-px-30 ">
                                <option value="0">Tất cả</option>
                                <option value="01">Tháng 1</option>
                                <option value="02">Tháng 2</option>
                                <option value="03">Tháng 3</option>
                                <option value="04">Tháng 4</option>
                                <option value="05">Tháng 5</option>
                                <option value="06">Tháng 6</option>
                                <option value="07">Tháng 7</option>
                                <option value="08">Tháng 8</option>
                                <option value="09">Tháng 9</option>
                                <option value="10">Tháng 10</option>
                                <option value="11">Tháng 11</option>
                                <option value="12">Tháng 12</option>
                            </select>
                        </div>
                        <div class="w-px-100 pt-2 ps-0">
                            <input name="tyLeHoaDon_Nam" id="tyLeHoaDon_Nam" value="" type="number" style="line-height: 2;" class="form-control mt-1 py-0 px-2  h-px-30 " />
                        </div>
                        <div class="col-1 pt-2 ps-0 me-2 pe-1">
                            <button name="tyLeHoaDon_btnOk" id="tyLeHoaDon_btnOk" style="line-height: 2;" class="btn btn-sm btn-primary mt-1 py-0 px-2 h-px-30 ">Ok</button>
                        </div>
                    </div>
                    <div id="chartTyLeHoaDon"></div>
                    <div id="chartTyLeHoaDonDaThanhToan" ></div>

                </div>
                @* Tỷ Lệ Hóa Đơn *@
                <div class="col-sm-12 col-md-6 col-lg-7">
                    <div class="card ms-1">
                        <div class="row">
                            <h5 class="mt-3 ms-3 col">Biểu đồ Doanh Thu Chuỗi Trung Tâm</h5>
                            <div class="w-px-100 pt-2 ps-0">
                                <input name="soSanhDoanhThuChuoiTrungTam_Nam" id="soSanhDoanhThuChuoiTrungTam_Nam" value="" type="number" style="line-height: 2;" class="form-control mt-1 py-0 px-2  h-px-30 " />
                            </div>
                            <div class="col-1 pt-2 ps-0 me-2 pe-1">
                                <button name="SoSanhDoanhThuChuoiTrungTam_btnOk" id="SoSanhDoanhThuChuoiTrungTam_btnOk" style="line-height: 2;" class="btn btn-sm btn-primary mt-1 py-0 px-2 h-px-30 ">Ok</button>
                            </div>
                        </div>
                        <div id="chartSoSanhDoanhThuChuoiTrungTam"></div>
                    </div>

                </div>
            </div>
            @* Doanh thu *@
            <div class="row mt-3">
                <div class="card col-sm-12">
                    <div class="row">
                        <h5 class="mt-3 col">Doanh thu</h5>
                        <div class="w-px-100 pt-2 ps-0">
                            <input name="doanhThuHoaDon_Nam" type="number" id="doanhThuHoaDon_Nam" value="" style="line-height: 2;" class="form-control mt-1 py-0 px-2  h-px-30 " />
                        </div>
                        <div class="w-px-30 pt-2 ps-0 me-3 pe-1">
                            <button name="doanhThuHoaDon_btnOk" id="doanhThuHoaDon_btnOk" style="line-height: 2;" class="btn btn-sm btn-primary mt-1 py-0 px-2 h-px-30 ">Ok</button>
                        </div>
                    </div>
                    <div id="chartDoanhThuHoaDon"></div>
                </div>
            </div>
            @* Hình Thức Thanh Toán *@
            <div class="row mt-3">
                <div class="card col-sm-12">
                    <div class="row">
                        <h5 class="mt-3 col">Hình thức thanh toán</h5>
                        <div class="w-px-200 mt-3">
                            <label>
                                <input type="checkbox" name="option" checked id="hinhThucThanhToan_Luot">
                                Số lượt
                            </label>
                            <label class="ms-2">
                                <input type="checkbox" name="option" id="hinhThucThanhToan_SoTien">
                                Số tiền
                            </label>
                        </div>
                        <div class="w-px-150 pt-2">
                            <select name="hinhThucThanhToan_Thang" id="hinhThucThanhToan_Thang" style="line-height: 2;" class="form-control mt-1 py-0 px-2  h-px-30 ">
                                <option value="0">Tất cả</option>
                                <option value="01">Tháng 1</option>
                                <option value="02">Tháng 2</option>
                                <option value="03">Tháng 3</option>
                                <option value="04">Tháng 4</option>
                                <option value="05">Tháng 5</option>
                                <option value="06">Tháng 6</option>
                                <option value="07">Tháng 7</option>
                                <option value="08">Tháng 8</option>
                                <option value="09">Tháng 9</option>
                                <option value="10">Tháng 10</option>
                                <option value="11">Tháng 11</option>
                                <option value="12">Tháng 12</option>
                            </select>
                        </div>
                        <div class="w-px-100 pt-2 ps-0">
                            <input name="hinhThucThanhToan_Nam" id="hinhThucThanhToan_Nam" value="" type="number" style="line-height: 2;" class="form-control mt-1 py-0 px-2  h-px-30 " />
                        </div>
                        <div class="w-px-30 pt-2 ps-0 me-3 pe-1">
                            <button name="hinhThucThanhToan_btnOk" id="hinhThucThanhToan_btnOk" style="line-height: 2;" class="btn btn-sm btn-primary mt-1 py-0 px-2 h-px-30 ">Ok</button>
                        </div>
                    </div>
                    <div id="chartHinhThucThanhToan"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- / Content -->
@section Scripts {
    <link href="~/css/scrollbar.css" rel="stylesheet" />
    <script src="~/js/scrollbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/AdminAssets/module/support.js"></script>
    <script src="~/funcdata/functrungtam.js"></script>
    <script src="~/funcdata/funcsanpham.js"></script>
    <script src="~/funcdata/funcdichvu.js"></script>
    <script src="~/funcdata/funcphieuthuchi.js"></script>
    <script src="~/funcdata/funcnhanvien.js"></script>
    <script src="~/funcdata/funchocsinh.js"></script>
    <script src="~/funcdata/funcnhacungcap.js"></script>
    <script src="~/funcdata/funcmonhoc.js"></script>
    <script src="~/funcdata/funclosanpham.js"></script>
    <script src="~/funcdata/funclop.js"></script>
    <script src="~/funcdata/funcketqua.js"></script>
    <script src="~/quanlytrungtam/func_baocaothongke/func_baocaothongke.js"></script>
    <script src="~/quanlytrungtam/trangChu.js"></script>
   

}

