@{
    Layout = "_LayoutAdmin";
    List<int> deletes = new List<int>();
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="align-self-center">Hóa Đơn</h4>
    <div class="row">

        @* Hóa đơn *@
        <div class="col-sm-7">
            <div class="mb-0">
                <div class="container bootstrap snippets bootdey card p-4">
                    <div class="panel panel-default">
                        <div id="printableDiv" class="panel-body">
                            <div class="row">
                                <div class="col text-right ">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="w-auto">
                                                    <img id="imageDiv" class="w-px-75 h-px-75 rounded-circle" src="/AdminAssets/assets/img/favicon/HTB.ico" />
                                                </div>
                                                <div class="col d-flex align-items-center ps-0">
                                                    <h4 class="text-start mt-3 "><strong>BEN BEN</strong></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 row h-px-100">
                                            <h6 id="phieuThuChi_MaCodeHoaDon" class="my-0 mx-0 py-0" style="font-size:13px">Mã HD: HDC-????????-??????-???</h6>
                                            <h6 id="phieuThuChi_NgayTao" class="my-0 mx-0 py-0" style="font-size:13px">Ngày tạo: ??/??/???? ??:??:??</h6>
                                            <h6 id="phieuThuChi_NgayThanhToan" class="my-0 mx-0 py-0" style="font-size:13px">Ngày thanh toán: ??/??/???? ??:??:??</h6>
                                            <h6 class="my-0 mx-0 py-0" style="font-size:13px">Tạo bởi: Admin</h6>
                                            <h6 id="phieuThuChi_TrangThai" class="my-0 mx-0 py-0" style="font-size:13px">Trạng thái: Chưa thanh toán</h6>
                                        </div>

                                    </div>


                                    <div class="row mt-3">

                                        <div class="col-md-6">
                                            <label class="form-label  m-0 p-0">Trung tâm <span class="text-danger">(*)</span></label>
                                            <select name="phieuThuChi_MaTrungTam" id="phieuThuChi_MaTrungTam" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label  m-0 p-0">Loại phiếu <span class="text-danger">(*)</span></label>
                                            <select name="phieuThuChi_LoaiPhieu" id="phieuThuChi_LoaiPhieu" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                                <option>Tất cả</option>
                                                <option>Hóa đơn thu</option>
                                                <option>Hóa đơn chi</option>
                                                <option>Hóa đơn tạm ứng</option>
                                                <option>Hóa đơn khác</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table id="myTableHoaDon" class="table table-condensed nomargin">
                                    <thead>
                                        <tr>
                                            <th width="30%" class="px-1">Thông tin</th>
                                            <th class="px-1">Giá</th>
                                            <th width="10%" class="px-1">SL</th>
                                            <th class="px-1">Tổng Tiền</th>
                                            <th width="10%" class="px-1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>

                            <hr class="nomargin-top">
                            <div class="row">
                                <div class="col text-left">
                                    <div class="">
                                        <label class="form-label m-0 p-0">Ghi chú</label>
                                        <textarea id="phieuThuChi_GhiChu" class="form-control"
                                                  placeholder="Nhập ghi chú"></textarea>
                                    </div>
                                </div>
                                

                                <div class="col text-right">
                                    <div class="mb-3">
                                        <div class="">
                                            <label class="form-label m-0 p-0">Hình thức thanh toán <span class="text-danger">(*)</span></label>
                                            <select name="phieuThuChi_HinhThucThanhToan" id="phieuThuChi_HinhThucThanhToan" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                                <option>Tất cả</option>
                                                <option>Tiền mặt</option>
                                                <option>Thẻ tín dụng</option>
                                                <option>Trả góp</option>
                                                <option>Ví điện tử</option>
                                                <option>Chuyển khoản ngân hàng</option>
                                            </select>
                                        </div>
                                    </div>
                                    <form class="col-sm-12" id="showThanhToan">
                                        <input type="checkbox" id="thanhToan" name="thanhToan" value="thanhToan">
                                        <label for="thanhToan">Đã thanh toán</label>
                                    </form>

                                    <ul class="list-unstyled mt-2">
                                        <li><strong style="font-size: 20px">Tổng tiền:</strong> <span id="phieuThuChiTongTien" style="font-size: 20px"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- FORM Button -->
                <div class="container">
                    <div class="row mt-3">
                        <button type="button" id="btnCreatePhieuThuChi" class="btn btn-primary float-end">
                            Tạo hóa đơn
                        </button>
                    </div>
                </div>

            </div>
        </div>
        @* Hỗ trợ truy xuất thông tin *@
        <div class="col-sm-5 ps-0">
            <div class="card-body pt-0 pe-0 me-3">
                <div class="row pt-0 mt-0">
                    <div class="col-md m-0 p-0">
                        <div class="accordion " id="accordionExample">
                            @* Tùy chỉnh *@
                            <div class="card accordion-item active">
                                <h2 class="accordion-header" id="headingOne">
                                    <button type="button"
                                            class="accordion-button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accordionOne"
                                            aria-expanded="true"
                                            aria-controls="accordionOne">
                                        Tùy chỉnh
                                    </button>
                                </h2>

                                <div id="accordionOne"
                                     class="accordion-collapse collapse show"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="col-md-12">
                                            <label class="form-label m-0 p-0">Tên chi tiết</label>
                                            <input class="form-control h-50" id="chiTietPhieuThuChi_TenChiTiet" type="text" placeholder="" autofocus />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-label m-0 p-0">Số lượng</label>
                                                <input class="form-control h-50" id="chiTietPhieuThuChi_SoLuong" type="number" placeholder="" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label m-0 p-0">Đơn vị tính</label>
                                                <input class="form-control h-50" id="chiTietPhieuThuChi_DonViTinh" type="text" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-label m-0 p-0">Giá / 1</label>
                                                <input class="form-control h-50" id="chiTietPhieuThuChi_Gia" type="number" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="pb-2 mt-2">
                                            <button type="button" id="btnResetChiTietPhieuThuChiTuyChinh" class="btn btn-sm btn-secondary ">
                                                Làm mới
                                            </button>
                                            <span class="p-1"></span>
                                            <button type="button" id="btnCreateChiTietPhieuThuChiTuyChinh" class="btn btn-sm btn-success ">
                                                Thêm vào hóa đơn
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Sản phẩm *@
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button type="button"
                                            class="accordion-button collapsed"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accordionTwo"
                                            aria-expanded="false"
                                            aria-controls="accordionTwo">
                                        Sản phẩm
                                    </button>
                                </h2>
                                <div id="accordionTwo"
                                     class="accordion-collapse collapse"
                                     aria-labelledby="headingTwo"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body row">
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Mã sản phẩm</label>
                                            <input class="form-control h-50" id="sanPham_MaSanPham" type="number" placeholder="" autofocus />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Tên sản phẩm</label>
                                            <input class="form-control h-50" id="sanPham_TenSanPham" type="text" placeholder="" autofocus />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Thông tin</label>
                                            <input class="form-control h-50" id="sanPham_ThongTin" type="text" placeholder="" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Giá</label>
                                            <input class="form-control h-50" id="sanPham_Gia" placeholder="" type="text" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label  m-0 p-0">Hạn sử dụng</label>
                                            <select name="sanPham_HanSuDung" id="sanPham_HanSuDung" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                                <option>Tất cả</option>
                                                <option>1 tuần</option>
                                                <option>2 tuần</option>
                                                <option>3 tuần</option>
                                                <option>1 tháng</option>
                                                <option>2 tháng</option>
                                                <option>3 tháng</option>
                                                <option>4 tháng</option>
                                                <option>5 tháng</option>
                                                <option>6 tháng</option>
                                                <option>7 tháng</option>
                                                <option>8 tháng</option>
                                                <option>9 tháng</option>
                                                <option>10 tháng</option>
                                                <option>11 tháng</option>
                                                <option>12 tháng</option>
                                                <option>13 tháng</option>
                                                <option>14 tháng</option>
                                                <option>15 tháng</option>
                                                <option>16 tháng</option>
                                                <option>17 tháng</option>
                                                <option>18 tháng</option>
                                                <option>19 tháng</option>
                                                <option>20 tháng</option>
                                                <option>21 tháng</option>
                                                <option>22 tháng</option>
                                                <option>23 tháng</option>
                                                <option>24 tháng</option>
                                                <option>Khác</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label  m-0 p-0">Loại sản phẩm</label>
                                            <select name="sanPham_LoaiSanPham" id="sanPham_LoaiSanPham" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                                <option>Tất cả</option>
                                                <option>Y tế</option>
                                                <option>Hàng gia dụng</option>
                                                <option>Thiết bị</option>
                                                <option>Nguyên liệu nấu ăn</option>
                                                <option>Thực phẩm</option>
                                                <option>Thực phẩm đông lạnh</option>
                                                <option>Đồ uống</option>
                                                <option>Điện tử</option>
                                                <option>Thời trang</option>
                                                <option>Đồ gia dụng</option>
                                                <option>Phụ kiện công nghệ</option>
                                                <option>Đồ chơi</option>
                                                <option>Đồ trang trí</option>
                                                <option>Sách và văn phòng phẩm</option>
                                                <option>Công cụ và thiết bị làm vườn</option>
                                                <option>Trang trí nội thất</option>
                                                <option>Dụng cụ nghề nghiệp</option>
                                                <option>Đồ dùng cho em bé và trẻ nhỏ</option>
                                                <option>Quà lưu niệm</option>
                                                <option>Khác</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label  m-0 p-0">Nhà cung cấp</label>
                                            <select name="sanPham_MaNhaCungCap" id="sanPham_MaNhaCungCap" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                            </select>
                                        </div>
                                        <div class="pb-2 mt-2">
                                            <button type="button" id="btnResetChiTietPhieuThuChiSanPham" class="btn btn-sm btn-secondary ">
                                                Làm mới
                                            </button>
                                            <span class="p-1"></span>
                                            <button type="button" id="btnSearchChiTietPhieuThuChiSanPham" class="btn btn-sm btn-primary">
                                                Tìm kiếm
                                            </button>
                                            <span class="p-1"></span>
                                            <button type="button" id="btnCreateChiTietPhieuThuChiSanPham" class="btn btn-sm btn-success ">
                                                Thêm vào hóa đơn
                                            </button>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="card bg-body ">
                                                <div class="table-responsive">
                                                    <table id="myTableSanPham" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th><input id="checkAllSanPham" class="" type="checkbox" /></th>
                                                                <th>Tên sản phẩm</th>
                                                                <th>Giá</th>
                                                                <th width="15%">SL</th>
                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Sư Dụng Dịch Vụ *@
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button type="button"
                                            class="accordion-button collapsed"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accordionThree"
                                            aria-expanded="false"
                                            aria-controls="accordionThree">
                                        Sử Dụng Dịch vụ
                                    </button>
                                </h2>
                                <div id="accordionThree"
                                     class="accordion-collapse collapse"
                                     aria-labelledby="headingThree"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body row">

                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Mã sử dụng dịch vụ</label>
                                            <input class="form-control h-50" id="suDungDichVu_MaSuDungDichVu" type="number" placeholder="" autofocus />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Tên sử dụng dịch vụ <span class="text-danger">(*)</span></label>
                                            <input class="form-control h-50" id="suDungDichVu_TenSuDungDichVu" type="text" placeholder="" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Mã học sinh <span class="text-danger">(*)</span></label>
                                            <input class="form-control h-50" id="suDungDichVu_MaHocSinh" placeholder="" type="number" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Tên học sinh</label>
                                            <input class="form-control h-50" disabled id="suDungDichVu_TenHocSinh" placeholder="" type="text" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Ngày bắt đầu <span class="text-danger">(*)</span></label>
                                            <input class="form-control h-50" id="suDungDichVu_NgayBatDau" placeholder="" type="text" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Ngày kết thúc <span class="text-danger">(*)</span></label>
                                            <input class="form-control h-50" id="suDungDichVu_NgayKetThuc" placeholder="" type="text" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label  m-0 p-0">Dịch vụ <span class="text-danger">(*)</span></label>
                                            <select name="suDungDichVu_MaDichVu" id="suDungDichVu_MaDichVu" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label  m-0 p-0">Trạng thái <span class="text-danger">(*)</span></label>
                                            <select name="suDungDichVu_TrangThai" id="suDungDichVu_TrangThai" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                                <option>Đang sử dụng</option>
                                                <option>Chưa có hiệu lực</option>
                                                <option selected>Chờ thanh toán</option>
                                                <option>Sắp hết hạn</option>
                                                <option>Hết hạn</option>
                                                <option>Đã hủy</option>
                                            </select>
                                        </div>

                                        <div class="pb-2 mt-2">
                                            <button type="button" id="btnResetChiTietPhieuThuChiDichVu" class="btn btn-sm btn-secondary ">
                                                Làm mới
                                            </button>
                                            <span class="p-1"></span>
                                            <button type="button" id="btnSearchChiTietPhieuThuChiDichVu" class="btn btn-sm btn-primary">
                                                Tìm kiếm
                                            </button>
                                            <span class="p-1"></span>
                                            <button type="button" id="btnCreateChiTietPhieuThuChiDichVu" class="btn btn-sm btn-success ">
                                                Thêm vào hóa đơn
                                            </button>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="card bg-body ">
                                                <div class="table-responsive">
                                                    <table id="myTableSuDungDichVu" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th><input id="checkAllSuDungDichVu" class="" type="checkbox" /></th>
                                                                <th>Tên sử dụng dịch vụ</th>
                                                                <th width="15%">SL</th>
                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @* Lớp học *@
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                    <button type="button"
                                            class="accordion-button collapsed"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accordion4"
                                            aria-expanded="false"
                                            aria-controls="accordion4">
                                        Học phí
                                    </button>
                                </h2>
                                <div id="accordion4"
                                     class="accordion-collapse collapse"
                                     aria-labelledby="heading4"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body row">
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Mã lớp</label>
                                            <input class="form-control h-50" id="lop_MaLop" type="number" placeholder="" autofocus />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Tên lớp</label>
                                            <input class="form-control h-50" id="lop_TenLop" type="text" placeholder="" autofocus />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Năm học</label>
                                            <input class="form-control h-50" id="lop_NamHoc" placeholder="" type="number" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Học phí</label>
                                            <input class="form-control h-50" id="lop_HocPhi" placeholder="" type="text" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Lịch học</label>
                                            <input class="form-control h-50" id="lop_LichHoc" placeholder="" type="text" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Thông tin</label>
                                            <input class="form-control h-50" id="lop_ThongTin" placeholder="" type="text" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Ngày bắt đầu</label>
                                            <input class="form-control h-50" id="lop_NgayBatDau" placeholder="" type="text" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label m-0 p-0">Ngày kết thúc</label>
                                            <input class="form-control h-50" id="lop_NgayKetThuc" placeholder="" type="text" />
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label  m-0 p-0">Giáo viên phụ trách</label>
                                            <select name="lop_MaNhanVien" id="lop_MaNhanVien" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                                            </select>
                                        </div>
                                        <div class="pb-2 mt-2">
                                            <button type="button" id="btnResetChiTietPhieuThuChiLop" class="btn btn-sm btn-secondary ">
                                                Làm mới
                                            </button>
                                            <span class="p-1"></span>
                                            <button type="button" id="btnSearchChiTietPhieuThuChiLop" class="btn btn-sm btn-primary">
                                                Tìm kiếm
                                            </button>
                                            <span class="p-1"></span>
                                            <button type="button" id="btnCreateChiTietPhieuThuChiLop" class="btn btn-sm btn-success ">
                                                Thêm vào hóa đơn
                                            </button>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="card bg-body ">
                                                <div class="table-responsive">
                                                    <table id="myTableLop" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th><input id="checkAllLop" class="" type="checkbox" /></th>
                                                                <th>Tên dịch vụ</th>
                                                                <th>Giá</th>
                                                                <th width="15%">SL</th>
                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>
<!-- / Content -->
@section Scripts {
    <script src="/AdminAssets/module/support.js"></script>
    <script src="~/funcdata/functrungtam.js"></script>
    <script src="~/funcdata/funcnhacungcap.js"></script>
    <script src="~/funcdata/funcnhanvien.js"></script>
    <script src="~/funcdata/funcdichvu.js"></script>
    <script src="~/funcdata/funcsudungdichvu.js"></script>
    <script src="~/funcdata/funchocsinh.js"></script>
    <script src="~/funcdata/funcphieuthuchi.js"></script>
    <script src="~/funcdata/funcchitietthuchi.js"></script>
    <script src="/AdminAssets/module/chiTietHoaDon.js"></script>
}
