@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="lbdemo" class="display-4">Lấy lại mật khẩu</h1>
    <div id="box">
        <h5>Email cần lấy lại mật khẩu</h5>
        <input id="email" type="text" />
        <h5></h5>
        <button id="forgotPassword">Lấy lại mật khẩu</button>
    </div>
</div>

@section Scripts {
    <script>
        function ForgotPassword() {
            // kiểm tra các giá trị cho đúng nhé
            $.ajax({
                type: "POST",
                url: "/Authentication/ForgotPassword",
                data: { email: $('#email').val() },
                success: function (data) {
                    $("#box").hide();
                    $("#lbdemo").text("Vui lòng kiểm tra Email của bạn");
                }
            });
        }
        $(document).ready(function () {
            $('#forgotPassword').click(function () {
                ForgotPassword();
            });
        });
    </script>
}
