@{
    ViewData["Title"] = "Home Page";
    var token = (string)ViewData["Token"];
    var email = (string)ViewData["Email"];
}

<div class="text-center">
    <h1 class="display-4">Tạo mật khẩu mới</h1>
    <h5 id="thongbao" class="display-4 text-danger"></h5>
    <h5>Email</h5>
    <input id="email" type="text" value="@email" disabled />
    <input id="token" type="hidden" value="@token"/>
    <h5>Mật khẩu</h5>
    <input id="password" type="text" />
    <h5>Xác nhận mật khẩu</h5>
    <input id="password1" type="text" />
    <h5></h5>
    <button id="resetPassword">Thay đổi mật khẩu</button>

</div>

@section Scripts {
    <script>
        function ResetPassword() {
            // Định nghĩa một object RegisterUser
            const resetPassword = {
                Token: $('#token').val(),
                Email: $('#email').val(),
                Password: $('#password').val(),
                ConfirmPassword: $('#password1').val()
            };

            $.ajax({
                type: "POST",
                url: "/Authentication/ResetPassword",
                data: { resetPassword: resetPassword },
                success: function (data) {
                    if (data.message == "Đổi mật khẩu thành công") {
                        window.location.href = "/Authentication/Login";
                    }
                    else {
                        $('#thongbao').text("Đổi mật khẩu thất bại");
                    }
                }
            });
        }
        $(document).ready(function () {
            $('#resetPassword').click(function () {
                ResetPassword();
            });
        });
    </script>
}