@{
    Layout = "_LayoutThuKho";
    List<int> deletes = new List<int>();
}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="align-self-center">Thông Tin Thủ Kho</h4>
    <!-- FORM DATA -->
    <div class="card mb-2">
        <div class="card-body" id="viewShowThongTin">
            <div class="row">
                <div class="col-sm">
                    <div class="row ">
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Mã nhân viên:  </label>
                                <h6 id="nhanVien_MaNhanVien" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Tên nhân viên:  </label>
                                <h6 id="nhanVien_TenNhanVien" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">CCCD:  </label>
                                <h6 id="nhanVien_Cccd" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Ngày sinh:  </label>
                                <h6 id="nhanVien_NgaySinh" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Địa chỉ:  </label>
                                <h6 id="nhanVien_DiaChi" class="ms-2 d-inline"></h6>
                            </div>
                        </div>

                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Số điện thoại:  </label>
                                <h6 id="nhanVien_SoDienThoai" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Email:  </label>
                                <h6 id="nhanVien_Email" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Thông tin:  </label>
                                <h6 id="nhanVien_ThongTin" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Lương:  </label>
                                <h6 id="nhanVien_Luong" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Mã tài khoản:  </label>
                                <h6 id="nhanVien_MaTaiKhoan" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Tên ngân hàng:  </label>
                                <h6 id="nhanVien_NganHang" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Số tài khoản:  </label>
                                <h6 id="nhanVien_SoTaiKhoan" class="ms-2 d-inline"></h6>
                            </div>
                        </div>

                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Giới tính:  </label>
                                <h6 id="nhanVien_GioiTinh" class="ms-2 d-inline"></h6>
                            </div>
                        </div>


                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Loại nhân viên:  </label>
                                <h6 id="nhanVien_LoaiNhanVien" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Phòng ban:  </label>
                                <h6 id="nhanVien_PhongBan" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Dân tộc:  </label>
                                <h6 id="nhanVien_DanToc" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="d-inline">
                                <label class="form-label m-0 p-0">Tôn giáo:  </label>
                                <h6 id="nhanVien_TonGiao" class="ms-2 d-inline"></h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label  m-0 p-0">Trung tâm <span class="text-danger">(*)</span></label>
                            <select name="nhanVien_MaTrungTam" id="nhanVien_MaTrungTam" style="line-height: 2;" class="form-control h-50 pt-0 pb-1">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    @* Show Image *@
                    <div class="">
                        @* <h5 class="my-4">Hình Ảnh Khách Hàng</h5> *@
                        <div class="pb-2">
                            <!-- Thêm ảnh -->
                            <!-- Thẻ input ẩn để chọn file -->
                            <input type="file" id="fileInput" style="display:none" accept="image/*" onchange="handleFileSelect(this)">
                        </div>
                        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img id="imageShow" src="https://images.pexels.com/photos/2415255/pexels-photo-2415255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block img-fluid" style="border-radius: 0.5rem" alt="Không tìm thấy ảnh" />
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /FORM DATA -->
</div>
<!-- / Content -->
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/AdminAssets/module/support.js"></script>
    <script src="~/funcdata/funcnhanvien.js"></script>
    <script src="~/funcdata/functrungtam.js"></script>
    <script src="~/thukho/trangchu.js"></script>
}

