@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h5>Loại tài khoản</h5>
    <a href="/Authentication/Login">
        <button>Đăng nhập</button>
    </a>
    <p></p>
    <a href="/Authentication/Register">
        <button>Đăng ký tài khoản</button>
    </a>
    <p></p>
    <a href="/Authentication/ForgotPassword">
        <button>Quên mật khẩu</button>
    </a>
</div>
